Body { 
  background-color: #E8E4DF;
  color: #0D0D0C;
  font-family: Arial,Times New Roman, sans-serif;
  Margin: 5% 10%;
}
.exp-header {
  text-align: left;
  text-transform: uppercase;
  border-top: 1px solid #030E2E ;
  border-bottom: 1px solid #030E2E; 
  border-right: 1px solid #030E2E;
  border-left: 1px solid #030E2E;
  Background-color: #CA92EE ;
   
}
